.sign-up__container {
    height: 100vh;
    background-image: url("../img/img_background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    overflow-y: hidden;
  }
  .sign-up__container .card {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
  
  }
  .sign-up__container .card .btn {
    opacity: unset !important;
    background: #5380EA;
    color: white !important;
    border-radius: 25px;
    width: 10em;
    font-weight: bold;
  }
  .sign-up__container .card p a {
    font-weight: bold;
    color: #2456CC !important;
  }
  .txt_form-label{
    display: flex;
  }
  .txt_form-label p{
    color: #e61414;
    margin-left: 8px;
  }
  
  .home img{
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .body .navbar{
    height: 100%;
    display: block;
    position: absolute;
  }
  .nav_left a{
    text-decoration: none;
    color: rgba(107, 108, 111, 1);
  }
  .navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_left .btn_toFormpage{
    margin-left: 60px;
  }
  .nav_left a{
    font-size: 16px;
  }
  .nav_left a:hover{
    color: #ac2a2a;
  }
  .nav_right{
    display: flex;
  }
  .nav_right a{
    text-decoration: none;
    color: #000;
  }
  .nav_right .logout_btn{
    margin-right: 40px;
  }
  .hr_container{
    background-color: rgba(211, 216, 255, 1);
    border: 2px solid rgba(211, 216, 255, 1);
  }
  .logout_btn{
    display: flex;
    height: 40px;
    width: 136px;
    border-radius: 40px;
    background-color: rgba(228, 145, 146, 1);
    align-items: center;
    justify-content: center;
  
  }
  .profile_btn{
    display: flex;
    height: 40px;
    width: 204px;
    border-radius: 16px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
  .profile_btn a{
    margin-left: 16px;
    margin-top: 4px;
  }
  
  .form_active-box{
    display: flex;
    width: 100%;
    height: 1100px;
    flex-direction: column;
    align-items: center;
  
  }
  .form_active-box h4{
    color: rgba(147, 171, 226, 1);
    line-height: 128px;
  }
  
  .join_form-box{
    display: block;
    width: 440px;
    height: 128px;
    margin-top: 280px;
    border-radius: 50px;
    padding: 10px, 10px, 0px, 10px;
    border-bottom: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: center;
  }
  .create_form-box{
    display: block;
    width: 440px;
    height: 128px;
    margin-top: 96px;
    border-radius: 50px;
    padding: 10px, 10px, 0px, 10px;
    border-bottom: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: center;
  }
  
  .about-us_box{
    display: flex;
    right: 0;
    bottom: 0;
    margin-top: 200px;
    justify-content: end;
  }
  .txt_about-us{
    text-align: center;
  }

  .about-us_form{
    display: block;
    width: 100%;
    height: max-content;
    margin-top: 96px;
    border-radius: 50px;
    padding: 10px, 10px, 0px, 10px;
    border-bottom: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;

  }
  .content_about-us{
    padding: 32px;
  }
  .content_about-us h4{
    margin-top: 24px;
  }
  .content_about-us ul{
    margin-top: 24px;
    list-style-type: none;
  }
  .content_about-us ul li{
    font-weight: 600;
    margin-top: 8px;
    font-size: 16px;
  }


  .detail_box{
    height: max-content;
    min-height: 800px;
    padding: 16px;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
  
  }

  .detail_box-top{
    display: flex;
    justify-content: center;
    
  }
  .detail_box-top h1{
    margin-top: 24px;

  }
  .red_line{
    display: block;
    height: 3px;
    width: 240px;
    background-color: rgba(228, 145, 146, 1);
    margin-top: 60px;
  
    
  }
  .detail_box h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 10px;
  }
  .hr_container-detail{
    background-color: #000;
  }
  .statistics{
    background-color: #EBF0FF;
    min-height: 100vh;
  }
  .user_name{
    height: 32px;
    width: max-content;
  }
  .email_adress, .answer_content{
    height: max-content;
    width: max-content;
    border-radius: 40px;
    background-color: rgba(237, 210, 210, 1);
  
  }
  .description, .answer_correct{
    height: max-content;
    width: max-content;
    border-radius: 40px;
    color: #fff;
    background-color: rgba(21, 108, 118, 1);
  }
  .user_name,.number_answer, .email_adress, .description, .answer_correct, .answer_content h4{
    padding: 8px 16px;
  }
  .row_detail_box{
    margin-top: 32px;
    margin-left: 32px;
  }
  .circle_prev-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(83, 128, 234, 1);
  }
  .statistical_bottom{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .export-btn, .exportCsv-btn{
    width: max-content;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(83, 128, 234, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 16px 32px;
  }
  .export-btn,  .exportCsv-btn h4{
    color: #fff;
  }


  .container_box{
    height: max-content;
    min-height: 800px;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  .search_box{
    width: 580px;
    height: 216px;
    background-color: rgba(107, 108, 111, 0.15);
    margin-top: 200px;
    border-radius: 46px;
  }
  .search_box h4{
    margin-top: 36px;
    font-weight: 500;
    line-height: 50px;
    font-size: 30px;
  }
  .search_bar{
    width: 100%;
    height: max-content;
    padding: 16px;
  }
  .search_bar input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
  .results_box{
    height: max-content;
    background-color: rgba(206, 106, 106, 1);
    border-radius: 24px;
    margin-top: 254px;
    padding: 32px;
  
  }
  .results_box h2{
    display: flex;
    justify-content: center;
  }
  .results_box .container{
    max-height: 500px;
  }
  .results_box_bottom{
    width: 100%;
    height: 64px;
  }
  .results_content{
    height: max-content;
    background-color: rgba(255, 223, 200, 1);
    margin-top: 16px;
    border-radius: 16px;
  
  }
  .results_content a{
    color: rgba(244, 103, 0, 1);
    text-decoration: none;
    padding: 16px;
  
  }
  .results_content :hover{
    color: #0da9ed;
  }
  
  .bottom_search{
    height: 72px;
  }
  
  .banner{
    display: block;
    position: relative;
  
  }
  .banner .number_user-background{
    height: 100%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box_content{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
  }
  .box_content img{
    width: 126px;
    height: 126px;
  }
  
  .statistical_bottom-right a, .statistical_bottom-left a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  .number_user-box{
    width: max-content;
    height: max-content;
    border-radius: 40px;
    background-color: rgba(237, 210, 210, 1)  ;
    margin-left: 32px;
    
  
  }
  .number_user-box h4{
    padding: 16px;
  }
  .img_avata img{
    height: 126px;
    width: 126px;
  }
  .change_password a{
    text-decoration: none;
  }
  
  .change_password a:hover{
    color: #e50914 !important;
  }
  .form_user{
    font-size: 16px;
  }
  .pen-to-square {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
  }
  .pen-to-square i {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pen-to-square .fa-pencil {
    z-index: 1;
  }
  .box_edit_fullname{
    display: none;
  }
  .box_edit_username{
    display: none;
  }
  
  
  
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
  
  }
  
  /* Style the input fields */
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the buttons */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .submit_edt_fullname,.submit_edt_username{
    background-color: #0da9ed;
    padding: 0px 8px;
    color: #fff;
  }
  